<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerocock.Board.mappers.BoardMapper">

<!-- 목록 -->
<select id="getList" resultType="org.zerocock.Board.dto.BoardDTO">
	select * from tbl_board order by bno desc limit #{skip}, #{size}
</select>

<!-- getListCount(전체 게시물 개수 + 1) 
굳이 컬럼만 사용 가능한 건 아님, DTO에서 만든 getCountEnd 이용해서 사용 가능 -->
<select id="getCountEnd" resultType="long">
	select count(*) from (select * from tbl_board where bno > 0 limit #{countEnd}) board
</select>

<!-- 등록 -->
<insert id="regist">
	insert into tbl_board (title, content, writer)
	values (#{title}, #{content}, #{writer})
</insert>

<!-- 조회 -->
<select id="read" resultType="org.zerocock.Board.dto.BoardDTO">
	select * from tbl_board where bno = #{bno}
</select>

<!-- 수정 -->
<update id="modify">
<!-- UPDATE [테이블] SET [열] = '변경할값' WHERE [조건] -->
	update tbl_board set title = #{title}, content = #{content}, dueDate = now() where bno = #{bno}
</update>

<!-- 삭제 -->
<delete id="delete">
	delete from tbl_board where bno = #{bno} 
</delete>




</mapper>