<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Board</title>
</head>
<body>
	<div class="container-fluid pt-4 px-4" layout:fragment="content">
		<div class="col-12">
			<div class="bg-light rounded h-100 p-4">
					<h6 class="mb-4">Board List</h6>
					<div class="table-responsive">
							<table class="table">
									<thead>
											<tr>
													<th scope="col">NO</th>
													<th scope="col">title</th>
													<th scope="col">writer</th>
													<th scope="col">dueDate</th>
											</tr>
									</thead>
									<tbody class="boardRead">
											<!--/* data- 속성 사용: bno 값으로 read 페이지로 이동 */-->
											<tr th:each="blist : ${board.list}" th:data-bno="${blist.bno}">
													<td>[[${blist.bno}]]</td>
													<td>[[${blist.title}]]</td>
													<td>[[${blist.writer}]]</td>
													<td>[[${blist.dueDate}]]</td>
											</tr>
									</tbody>
							</table>
							<div class="col-sm-12 col-xl-6">
									<div class="bg-light rounded h-100 p-4">
											<div class="btn-toolbar" role="toolbar">
														<div class="btn-group me-2 paging">
															<button type="button" class="btn btn-warning m-2 btnRegist">Regist</button>
														</div>
											</div>
									</div>
							</div>
					</div>    
			</div>
		</div>

	</div>



	<!--/* js 사용할 거면 layout에도 fragment 넣어줘야 함 */-->
	<script layout:fragment="script" th:inline="javascript">

		const boardRead = document.querySelector(".boardRead");
		const regist = document.querySelector(".btnRegist");

		// boardRead 변수로 read 페이지로 이동
		boardRead.addEventListener("click", e => {
			// e.preventDefault();
			// e.stopPropagation();

			// target 찾기
			const target = e.target;

			// bno 값 가져오기
			const bno = target.closest("tr").getAttribute("data-bno")
			
			console.log(bno);

			// (일단) read 페이지로 이동
			// window.location.href = 'URL'; -> 해당 페이지로 이동
			window.location.href = "/board/read/" + bno;  

			// Capturing 막기 위해 false 넣기
		}, false)

		regist.addEventListener("click", e => {
			window.location.href = "/board/regist";
		})


	</script>

</body>
</html>